@model _50_Ders_MVC_Projesi.Models.Entities.Client

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h5 class="text-center text-primary">Create</h5>
<form method="post">
    <div class="my-2">
        <label class="form-label">Müşteri Adı</label>
        <input class="form-control" type="text" name="MUSTERIAD" />
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">Müşteri Soyadı</label>
        <input class="form-control" type="text" name="MUSTERISOYAD" />
        @Html.ValidationMessageFor(m => m.MUSTERISOYAD, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <button class="btn btn-info my-3 text-white" id="myInput"><i class="fa-duotone fa-solid fa-plus me-1"></i>Müşteri Ekle</button>
    </div>
</form>




<script>

    $('#myInput').click(function() {
        alert("Müşteri Ekleme Yapıldı")        
             }
    )
</script>

