@model _50_Ders_MVC_Projesi.Models.Entities.Client
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h5 class="text-center text-primary">Update<i class="fas fa-edit me-1"></i></h5>
<form method="post">
    <input type="hidden" value="@Model.MUSTERIID" name="MUSTERIID" />
    <div class="my-2">
        <label class="form-label">Müşteri Adı</label>
        <input class="form-control" type="text" name="MUSTERIAD" value="@Model.MUSTERIAD" />
    </div>
    <div class="my-2">
        <label class="form-label">Müşteri Soyadı</label>
        <input class="form-control" type="text" name="MUSTERISOYAD" value="@Model.MUSTERISOYAD"/>
    </div>
    <div class="my-2">
        <button class="btn btn-info my-3 text-white"> <i class="fas fa-edit me-1"></i>Müşteri Güncelle</button>
    </div>
</form>
